<!-- Closed Auctions Page -->
<section id="catalog-section" class="spaced">

    <h1 class="item">Closed Auctions</h1>
    
    {{#if items}}
    <ul class="catalog cards">
        {{#each items}}
        {{> closedAuctionPreview}}
        {{/each}}
    </ul>
    {{else}}
    <div class="item pad-large align-center">
        <p>You haven't closed any auctions yet.</p>
    </div>
    {{/if}}

</section>